@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    line-height: 1.6;
}

#landingPage{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background:url('../images/backgrounds/h_img.jpg')no-repeat center/cover;
    text-align: center;
    color: #fff;
    position: relative;
    overflow-y: hidden;
}
#landingPage .content{
    margin-top: top 75vh;;
}
.aboutUs{
    margin: 0;
    padding: 2rem;
    text-align: center;

}
.services{
    margin: 0;
    padding: 5rem;
    width: 100%;
    background:url('../images/backgrounds/s_image.jpg')no-repeat center/cover;
    color: #fff;
    text-align: center;
}
.whatWeDo{
    text-align: center;
    margin: 0;
    padding-bottom: 5rem;
    padding-top: 5rem;

}
.row{
    padding-top: 2rem;
}
/*.portfolio{

}*/

.hidenn{
    display: none;
}
.contactUs{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background:url('../images/backgrounds/c_image.jpg');
    color: #fff;
}
/*.socialMedia{
    padding-top: 2rem ;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}*/
footer{
    text-align: center;
}